<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A booster pack opening simulator for Pokemon TCG Pocket.">
    <meta name="keywords" content="Pokemon, TCG, Pocket, Booster, Pack, Simulator">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Pokemon Pocket  Pack Simulator">
    <meta property="og:description" content="A booster pack opening simulator for Pokemon TCG Pocket.">
    <meta property="og:image" content="https://imgur.com/ErsF5F5">
    <meta property="og:url" content="https://example.com">
    <meta property="og:type" content="website">
    <link rel="icon" href="../../src/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../../src/favicon/apple-touch-icon.png">
    <title>Pokemon Pocket Booster Pack Simulator</title>
    <link rel="stylesheet" href="../style.css">
    <meta name="theme-color" content="#151d23">
</head>
<body>
    <script src="../../src/audio/audio.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        playBGM('../../src/audio/2.mp3');
    });
</script>
    <nav>
        <ul>
            <li><a href="../../index.html" class="nav-link">Home</a></li>
            <li><a href="./packs.html" class="nav-link active">Packs</a></li>
            <li><a href="./stats.html" class="nav-link">Stats</a></li>
            <li><a href="./collection.html" class="nav-link">Collection</a></li>
        </ul>
    </nav>

    <div id="scroll-wrapper">
        <h1>Available Packs</h1>
        
        <div class="pack-list">
            <div class="pack-card">
                <img src="../../src/favicon/pack_charizard.jpg" alt="Charizard Pack">
                <h2>Charizard Pack</h2>
                <p>Contains powerful Fire-type Pokémon and rare Charizard cards.</p>
                <button onclick="window.location.href='index.html'">Open This Pack</button>
            </div>

            <div class="pack-card">
                <img src="../../src/favicon/pack_mewtwo.jpg" alt="Mewtwo Pack">
                <h2>Mewtwo Pack</h2>
                <p>Features Psychic-type Pokémon and rare Mewtwo variants.</p>
                <button onclick="window.location.href='index.html'">Open This Pack</button>
            </div>

            <div class="pack-card">
                <img src="../../src/favicon/pack_pikachu.jpg" alt="Pikachu Pack">
                <h2>Pikachu Pack</h2>
                <p>Includes Electric-type Pokémon and special Pikachu cards.</p>
                <button onclick="window.location.href='index.html'">Open This Pack</button>
            </div>
        </div>
    </div>
</body>
</html> 